@import './variables/variables';
@import './reset';
@import './themes/dark';
@import './themes/light';

.app {
  font: var(--font-l);
  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.pageWrapper {
  display: flex;
}

.pageContent {
  width: 100%;
  padding: 20px;
}