.button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 8px 10px;
    border: none;
    height: min-content;
    width: min-content;
}

.clear {
    margin: 0;
    outline: none;
    background: none;
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.solid {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.sm {
    font: var(--font-s);
}

.md {
    font: var(--font-m);
}

.lg {
    font: var(--font-l);
}
