.sidebar {
  grid-area: sidebar;
  height: calc(100vh - var(--navbar-height));
  padding: 20px;
  background-color: var(--inverted-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}