.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.toggleCollapseBtn {
  width: 20px;
  height: 20px;
}

.switchers {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}