.sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: width 0.3s;
}

.toggleCollapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.switchers {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkItem {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .link {
        margin-left: 0;
        opacity: 0;
        width: 0;
    }

    .linkItem {
        justify-content: center;
    }
}
